# Kubernetes
kubeconfig
ansible/kubeconfig
*.kubeconfig

# Lokal erzeugte Zertifikate
certs/

# SSH Keys
*.pem
*.key
id_rsa
id_ed25519
id_ed25519_*

# Secrets & Credentials
.env
*.env
secrets/
*.secret

# Temporäre Dateien
*.tmp
*.log
*.bak
*_org

# OS
.DS_Store
Thumbs.db

# Claude
.claude

# Entwicklungsumgebungen
.idea/
.vscode/
